@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "Azeret Mono", monospace;
}

/* shared styles */
.common-para{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity:0.7 ;
  }
.btn-primary{
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}

.info-container{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 106px;
  padding: 10px;
  
}

.info-subtitle{
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 700;
}
.common-btn{
  align-items: center;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33,0.7);
  font-size: 20px;
  font-weight: 600;

}
.code-img{
  width: 56px;
  height: 56px;
  margin-bottom: 28px;
}
.code-para{ 
  color: rgb(13, 19, 33,0.7);
  font-size: 16px;
  font-weight: 400;
 }
 .code-title{
  margin-bottom: 8px;
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
}
.code-link{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}

/* Header Styles */
.banner-sec-container{
  max-width: 1440px;
  height: 600px;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26px 170px 44px 170px;
}
.header-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 36px;
font-weight: 800;

text-align: center;
}
header .common-para{
  margin-bottom: 24px;
  padding: 24px 73px 0px 73px;
  
}
.btn-primary a{
  color: rgb(255, 255, 255);
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

/* Info styles */
.info{
  margin: 74px 140px 0px 140px;
}
.info-title{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 24px;
}
.sec-info{
  text-align: center;
}
.sec-container{
  margin: 70px 90px;
}
.info-para{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 32px;
}
.second-info-container{
  display: flex;
  gap: 32px;
  justify-content: space-around;
}
.info-desc{
  margin: 10px 0;
}
.second-info-desc{
  margin: 10px 0;
  margin-right: 110px;
  padding: 10px;
}
.inspiration{
  max-width: 1140px;
  height: 680px;
  margin:88px 150px 150px 150px;
}
.upper-part{
  margin: 0px 140px 48px 140px;
}
.ins-title{
  color: rgb(13, 19, 33);
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.ins-para{
  color: rgb(13, 19, 33,0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.video{
  max-width: 1140px;
  height:540px;
  text-align: center;
  padding: 32px;
  
}
.ins-video{
  width:900px;
  height: 500px;
  border-radius: 16px;
  padding: 32px;
  border-radius: 42px;
}

.my-target{
 max-width: 1140px;
 height: 420px;
 
margin:150px;
}
.first-code-details{
  width: 284px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.second-code-details{
  width: 284px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.third-code-details{
  width: 284px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.third-code-details p{
  margin-bottom: 16px;
}
.second-code-details p{
  margin-bottom: 16px;
}
.first-code-details p{
  margin-bottom: 16px;
}
.code-container{
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-top: 100px;
}

/* Footer Styles */
.last-part{
max-width: 1140px;
height:313px;
background-image: url(../assets/handshake.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin: 150px;
border-radius: 16px;
}
.footer-container{
  padding: 64px 48px;
}
.footer-header{
  text-align: center;
  margin: 0px 157px 24px 157px;
}
.footer-title{
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 700;
  margin-bottom:16px;
}
.footer-para{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}
.input-part{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.message{
  width: 548px;
  height: 57px;
  padding: 19px 20px 19px 20px;
  font-size: 16px;
  font-weight: 400; 
  color: rgba(13, 19, 33, 0.4);

}
.submit{
  width: 120px;
  height: 57px;
  padding: 17px 20px 17px 20px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
}
.footer-img{
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-right: 150px;
}
.final-footer{
  display: flex;
  justify-content: space-between;
  padding: 32px 150px 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.final-footer-para{
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}